.button {
    padding: 10px 20px;
    font-size: 20px;
    text-align: center;
    cursor: pointer;
    outline: none;
    color: #fff;
    background: url('./rolling-dices.png');
    border: none;
    border-radius: 15px;
		box-shadow: 0 9px #999;
		margin: 6vh;
	}

.button:hover {
    background-color: rgb(58, 70, 58)
	}

.button:active {
    box-shadow: 0 5px #666;
    transform: translateY(4px);
  }

.button:focus {
		outline:0;
  }

form {
  text-align: center;
}
  
input {
  margin-top: 5vh;
  border-radius: 25px;
}

input:focus {
  outline: 0;
}


  