
.mainPage {
  display: flex;
}

.button {
    padding: 10px 20px;
    font-size: 2rem;
    text-align: center;
    cursor: pointer;
    outline: none;
    color: #fff;
    background: black;
    border: none;
    border-radius: 15px;
		box-shadow: 0 9px #999;
		margin: 6vh;
	}

button:hover {
    background-color: rgb(58, 70, 58)
	}

.button:active {
    box-shadow: 0 5px #666;
    transform: translateY(4px);
  }

.button:focus {
		outline:0;
  }

form {
  text-align: center;
  margin-left: 21vw;
  margin-top: 12vh;
}
  
input {
  margin-top: 5vh;
  border-radius: 2px;
  height: 1vh;
}

input:focus {
  outline: 0;
}

.meme {
  margin: auto;
  text-align: center;
  position: relative;
 
}

.randomMeme {
  width: 33vw;
  height: 30vh;
  height: auto;
  margin-top: 3vh;
  box-shadow: 5px 10px 18px #888888;
}

h2 {
  position: absolute;
  left: 0;
  right: 0;
  margin: 27px 0;
  font-family: impact;
  font-size: 2.5em;
  text-transform: uppercase;
  color: white;
  letter-spacing: 1px;
  text-shadow:2px 2px 0 #000,
  -2px -2px 0 #000,
  2px -2px 0 #000,
  -2px 2px 0 #000,
  0px 2px 0 #000,
  2px 0px 0 #000,
  0px -2px 0 #000,
  -2px 0px 0 #000,
  2px 2px 5px #000;

}

.top {
  top: 0;
}

.bottom {
  bottom: 0;
}




  